<div class="row">

    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-header bg-dark text-white">
                {{#if editMode}} Edicion{{else}}Creacion{{/if}} de autores</div>
            <div class="card-body">

                <form method="POST" action="{{#if editMode}}/edit-author {{else}} /create-author{{/if}}">

                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre del autor</label>
                        <input type="text" class="form-control" id="name" name="Name"
                            value="{{#if editMode}}{{author.NombreAutor}}{{/if}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo del autor</label>
                        <input type="email" class="form-control" id="correo" name="Correo"
                            value="{{#if editMode}}{{author.CorreoAutor}}{{/if}}" required>
                    </div>

                    {{#if editMode}}
                    <input type="hidden" name="idAutor" value="{{author.idAutor}}">
                    {{/if}}

                    <button type="submit" class="btn btn-primary">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
                    <a href="/authors" type="button" class="btn btn-warning">Volver atras</a>
                </form>


            </div>

        </div>
    </div>
</div>